* {
    box-sizing: border-box;

    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: gray;
    text-align: right;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: gray;
}